.App {
	display: flex;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.logos {
	max-height: 450px;
	max-width: 100%;
}

.banner {
  background-color: black;
  padding: 20px;
  color: white;
  text-align: center;
}

.header {
	text-align: center;
}

.postDiv {
    padding-top: 14px;
    text-align: center;
    width: 100%;
}

.postButton {
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;
}

.PostButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 50px;
    background: #559474;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border-style: none;
    cursor: pointer;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Sidebar {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background-color: #eee;
	text-align: center;
}

.Main {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	max-width: 100%;
	padding-bottom: 200px;
}

.Body {
	width: 100%;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
}

.Tabs {
	whiteSpace: nowrap;
	textOverflow: ellipsis;
	overflow: hidden;
	padding: 20px 10px;
	font-size: large;
}


.Adbar {
}

.Link {
	text-decoration: none;
    background-color: white;
	color: black;
	width: 100%
}

.burger {
	display: none;
}

.Sidebar.open {
	display: flex;
}


@media screen and (max-width: 700px) {

	.Sidebar {
		 width: 250px;
		 height: 100%;
		 position: absolute;
		 text-align: center;
		 box-sizing: border-box;
		 -webkit-transform: translate(-300px, 0);
		 transform: translate(-300px, 0);
		 transition: transform 0.3s ease;
		 background-color: white;
		 order: -1;
		 margin: 0;
	 }
	 .SidebarOpen {
		 display: flex;
		 flex-wrap: wrap;
		 width: 250px;
		 height: 100%;
		 position: absolute;
		 text-align: center;
		 box-sizing: border-box;
		 transition: transform 0.3s ease;
		 background-color: white;
		 -webkit-transform: translate(0, 0);
		 transform: translate(0, 0);
		 order: -1;
		 z-index: 10;
	 }

     .Link {
         display: flex;
         justify-content: center;
         align-items: center;
         height: 80px;
     }
	 .burger {
		 color: white;
		 border: none;
		 position: absolute;
		 background-color: transparent;
		 outline: none;
		 display: inline;
		 padding: 0.5em;
		 font-size: 18px;
	 }
}

@media screen and (min-width: 1350px) {
	.App {
		width: 1350px;
		margin-left: auto;
		margin-right: auto;
	}

}

@media screen and (max-width: 750px) {
    .Body {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and (max-width: 700px) {
    .Link {
        color: #c58e65;
        background-color: black;
    }
}

