.Article{
	text-align: left;
	margin-top: 15px;
	margin-left: 5px;
	margin-bottom: 30px;
}

.Entry{
    border-radius: 3px;
}

.Entry:nth-of-type(odd) {
    background-color: #d4d4d4b5;
}

.Entry:nth-of-type(even) {
    background-color: white;
}

.Body{
	font-family: Lato, sans-serif;
	padding: 16px;
	max-width: 900px;
	line-height: 200%;
	overflow: auto;
}

.OptionsBoxDesktop{
    display: flex;
    opacity: 0;
    justify-content: space-between;
    align-items: center;
}

.OptionsBoxMobile {
    display: flex;
    opacity: 1;
    justify-content: space-between;
    align-items: center;
}

.MobileOptions {
    display: flex;
    justify-content: center;
}

.MobileOptions > span{
    padding: 2px;
}

.ShareTabs{
    padding-bottom: 2px;
}
.ShareTabs > button{
    padding: 5px;
    cursor: pointer;
    border: 1px solid #636262;
    background: white;
}

.ShareTabs > button:hover{
    background-color: #dcdcdc;
    color: #4a4a4a;
}


.ShareTabs > button:disabled {
    cursor: default;
    background-color: #636262;
    color: white;
}

.ShareButtons{
    display: flex;
}

.ShareButtons > iframe{
    padding-right: 2px;
}

.CopyLinkLarge{
    font-size: 11px;
    width: 60px;
    height: 20px;
    padding: 0px;
    cursor: pointer;
}

.CopyLinkSmall {
    display: none;
    font-size: 11px;
    width: 60px;
    height: 20px;
    padding: 0px;
    cursor: pointer;
}

.Entry:hover .OptionsBoxDesktop {
    opacity: 1;
}

.PostBox{
    width: 183px;
    display: flex;
    justify-content: flex-end;
}


.ChildBox{

}

.ChildButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 60px;
    background: #b73535;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border-style: none;
    cursor: pointer;
}
.ChildButton:focus{
    outline: 0;
}

.PostButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 50px;
    background: #559474;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border-style: none;
    cursor: pointer;
}
.PostButton:focus{
    outline: 0;
}

.Title{
	text-transform: capitalize;
	font-family: Oswald, sans-serif;
	font-size: 35px;
}



.SubInfo{
	display: flex;
	font-size: 13px;
	margin-bottom: 20px;
	color: dimgrey;
}

.ImageBarContainer{
	display: flex;
	justify-content: center;
	border-top: thin solid black;
	border-bottom: thin solid black;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	width: 100%;
}

.ImageBar {
	width: 80%;
}

.Author{
	padding-right: 15px;
}

.Author:before{
	content: 'Started by: ';
}

.Categories{
	padding-right: 15px;
}

.CatList{
	margin: 0;
	padding: 0;
}

.CatList:before{
	content: 'In: ';
}

.Category{
	display: inline;
}

.Category:after{
	content: ' - ';
}
.Category:last-child:after{
	content: '';
}


.Link{
	text-decoration: none;
	color: #5763bd;
}


.Created{
	padding-right: 15px;
}

.Created:before{
	content: 'Created: ';
}

.Updated:before{
	content: 'Last Updated: ';
}

.DisplayNone{
    position: absolute;
    left: -500px;
}


@media screen and (max-width: 700px) {
	.Article {
		margin-left: 0;
	}
	.Author {
		padding: 0;
	}
	.Title {
		text-align: center;
		padding: 3px;
	}
	.Categories {
		padding: 0;
	}
	.CatList:before {
		content: '';
	}
	.SubInfo {
		display: block;
		line-height: 150%;
		text-align: center;
	}
	.Created {
		padding: 0;
	}
	Body {
		width: 100%;
	}
}

@media screen and (max-width: 425px) {
	.Body {
		padding: 10px;
		font-size: 13px;
	}
    .ChildButton {
        width: 100px;
        height: 45px;
    }
    .PostButton {
        width: 80px;
        height: 35px;
        padding: 0;
    }
    .ChildBox, .PostBox{
        width: auto;
    }
    .ShareBox {
        width: 80px;
    }
    .ShareTabs {
        padding-bottom: 3px;
    }
    .ShareTabs > button {
        padding: 1px;
        width: 40px;
        font-size: 11px;
    }
    .ShareButtons > iframe[style] {
        width: 23px !important;
        border-radius: 5px;
        margin-right: 2px;
    }

    .CopyLinkLarge {
        display: none;
    }

    .CopyLinkSmall {
        display: block;
        font-size: 10px;
    }
}

@media screen and (min-width: 426px) and (max-width: 600px) {
    .ChildButton {
        width: 120px;
        height: 50px;
    }
    .PostBox, .ChildBox{
        width: auto;
    }
    .PostButton {
        width: 100px;
        height: 40px;
    }
    .ShareBox {
        width: 100px;
    }

    .ShareTabs {
        padding-bottom: 3px;
    }

    .ShareTabs > button {
        padding: 1px;
        width: 50px;
        font-size: 11px;
    }

    .ShareButtons > iframe[style] {
        width: 23px !important;
        border-radius: 5px;
        margin-right: 3px;
    }
    .CopyLinkLarge{
        display: none;
    }
    .CopyLinkSmall{
        display: block;
    }
}


