.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;
  max-width: 900px;
  text-align: left;
}


.editor :global(.public-DraftEditor-content) {
	min-height: 300px;
	max-height: 500px;
	max-width: 750px;
	overflow: auto;
}

.videoAndImages {
    padding-top: 56.25%;
    position: relative;
    width: 100%;
    margin: 0;
    max-height: 70px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    border-radius: 2px;
}

.videoAndImages > img {
	position: absolute;
	top: 50%;
	left: 50%;
	right: 0;
	width: auto;
	max-width: 100%;
	max-height: 100%;
	transform: translate(-50%, -50%);
}

.videoAndImages > div {
	top: 50%;
	left: 50%;
	right: 0;
	width: auto;
	max-width: 100%;
	max-height: 100%;
	transform: translate(0%, -100%);
}

.publishBody {
	width: 100%;
	max-width: 750px;
	text-align: center;
	margin-bottom: 25px;
	padding-bottom: 25px;
}


.checkboxes {
	display: inline-block;
	padding: 3px;
}

input[type="checkbox"]{
	width: 10px;
	height: 11px;
}



.form {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	box-sizing: border-box;
	border: thin solid #ddd;
	box-shadow: inset 0px 1px 8px -3px #ABABAB;
	border-radius: 2px;
}

.TitleInputBig{
	width: 100%;
	font-family: arial, sans-serif;
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
	border: none;
}

.TitleInputSmall {
    display: none;
    width: 100%;
    font-family: arial, sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    border: none;
}

.SubInfo{
	display: flex;
    background-color: white;
	width: 100%;
}

.AuthorInput{
	text-align: left;
	width: 30%;
}

.AuthorInput > input{
	border: none;
}

.AuthorInput:before{
	content: 'By: ';
	font-size: 13px;
	padding-left: 4px;
}


.checkField {
	border-style: none;
	padding: 0;
	width: 70%;
	font-size: 14px;
	text-align: left;
}


.PictureSpace{
	display: flex;
    justify-content: center;
	width: 100%;
}

.LogoAdd{
	width: 33.3%;
}

.ImageBarAdd{
	width: 66.7%;
}





.button {
	margin-right: 10px;
}




@media screen and (max-width: 425px) {
	.videoAndImagesContainer {
		display: inline;
	}
}

@media screen and (max-width: 700px) {
    .PictureSpace {
        display: block;
    }
    .LogoAdd, .ImageBarAdd {
        width: 80%;
        max-width: 100%;
        margin: auto;
    }
    .publishBody {
        width: auto;
        margin-left: 5px;
        margin-right: 5px;
    }
    .TitleInputBig {
        display: none;
    }
    .TitleInputSmall {
        display: block;
    }
}