.App {
	display: flex;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.banner {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.header {
	text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Sidebar {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background-color: #eee;
	text-align: center;
}

.Main {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	max-width: 100%;
}

.Body {
	margin-left: auto;
	margin-right: auto;
}

.Tabs {
	whiteSpace: nowrap;
	textOverflow: ellipsis;
	overflow: hidden;
	padding: 20px 10px;
	font-size: large;
}


.Adbar {
}

.Link {
	text-decoration: none;
	color: black;
	width: 100%
}

.burger {
	display: none;
}

.Sidebar.open {
	display: flex;
}

@media screen and (max-width: 550px) {

	.Sidebar {
		 width: 250px;
		 height: 100%;
		 position: absolute;
		 text-align: center;
		 box-sizing: border-box;
		 -webkit-transform: translate(-300px, 0);
		 transform: translate(-300px, 0);
		 transition: transform 0.3s ease;
		 background-color: white;
		 order: -1;
		 margin: 0;
	 }
	 .SidebarOpen {
		 display: flex;
		 flex-wrap: wrap;
		 width: 250px;
		 height: 100%;
		 position: absolute;
		 text-align: center;
		 box-sizing: border-box;
		 transition: transform 0.3s ease;
		 background-color: white;
		 -webkit-transform: translate(0, 0);
		 transform: translate(0, 0);
		 order: -1;
		 z-index: 10;
	 }
	 .burger {
		 border: none;
		 position: absolute;
		 background-color: transparent;
		 outline: none;
		 display: inline;
		 padding: 0.5em;
		 font-size: 16px;
	 }
}

@media screen and (min-width: 1350px) {
	.App {
		width: 1350px;
		margin-left: auto;
		margin-right: auto;
	}

}

