.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;
  max-width: 900px;
}


.editor :global(.public-DraftEditor-content) {
	min-height: 300px;
	max-height: 500px;
	max-width: 900px;
	overflow: auto;
}

.videoAndImages {
	
}

.publishBody {
	margin-bottom: 25px;
}


.checkboxes {
	display: inline-block;
	padding: 5px;
}

.checkField {

}

.form {
	border-style: solid;
}

.buttons {
	display: flex;
}

.button {
	margin-right: 10px;
}