.Article{
	padding: 5px;
}




.Title{
	font-family: arial, sans-serif;
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
}



.SubInfo{
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	font-size: 15px;

}


.Author{
	display: flex;
	padding-right: 15px;
}

.Categories{
	display: flex;
	flex-wrap: wrap;
	padding-right: 15px;
}

.CatList{
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.Category{
	display: inline;
	padding: 3px;
}

.Created{
	display: flex;
}
	


.TitleLink{
	text-decoration: none;
	color: black;
}

.CatLink{
	text-decoration: none;
	color: blue;
}


@media screen and (max-width: 550px) {
	Body {
		font-size: 16px;
	}
	.Title {
		font-size: 1.5em;
	}
	.SubInfo {
		font-size: 0.9em;
	}
}