.Admin {
	display: flex;
	flex-wrap: wrap;
}

.Container {
	border-top: thin #676767 solid;
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
	font-size: 0.9em;
}

.Links {
	text-decoration: none;
	color: white;
	padding: 0.5em;
	box-sizing: border-box;
	display: block;
}

.Links:hover {
	color: lightblue;
}


@media screen and (max-width: 700px) {
	.Container:before {
		content: "Choose your category:";
		margin-left: 0;
		margin-bottom: 15px;
		float: left;
		padding: 10px;
	}
	
	.Container {
		display: block;
	}
	
	.Links {
		display: inline-block;
		width: 100%;
		padding: 1em;
	}
}