.Container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%
}

.Links {
	padding: 0.5em;
	box-sizing: border-box;
	display: block;
}


@media screen and (max-width: 550px) {
	.Container:before {
		content: "Choose your category:";
		margin-left: 0;
		margin-bottom: 15px;
		float: left;
		padding: 10px;
	}
	
	.Container {
		display: block;
	}
	
	.Links {
		display: inline-block;
		width: 100%;
	}
}